.fav{
  width: 30px;
  height: 30px;
  box-shadow: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  &--active{
    background-color: #ffe8e9;
  }
}