<ion-header>
  <ion-toolbar>
    <ion-title>
      App News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor='let myNews of dataNews'>
    <img 
      [src]='myNews.img'
    />
    <ion-card-header>
      <ion-card-subtitle>{{myNews.date}}</ion-card-subtitle>
      <ion-card-title>{{myNews.title}}</ion-card-title>   
    </ion-card-header>
      
    <ion-card-content>
      {{myNews.desc}}
    </ion-card-content>
    <div [ngClass] = "myNews.isFav ? 'fav fav--active' : 'fav' ">
      <ion-icon name="heart"></ion-icon>
    </div>
    
  </ion-card>
</ion-content>
